body
{
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    width: 100%;
    height: 100%;

    background-color: #527368;
    background-image: url(../img/FOND1_censored_1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    scroll-behavior: smooth !important;
}

header
{
    text-align: center;
    width: 100%;
}

/*******************************************LOGO NAME**************************************************/

#img_male
{
    width: 15px;
    height: auto;
    margin-bottom: -3px;
    
}
#header_name
{
    background-color: #E5F8CB;
    padding: 10px 5px 10px 5px;
    border: solid 5px #506860;
    border-radius: 10px 2px 10px 2px;

    width: 250px;
}
#header_name p
{
    margin: 0;;
}
.logo_y
{
    width: 40%;
}
#logo_and_name, #logo_and_name_responsive
{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}
#logo_and_name div, #logo_and_name_responsive div
{
    width: 250px;
}

/*******************************************NAVBAR**************************************************/

#pc_navbar nav ol
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#pc_navbar nav ol a
{
    text-decoration: none;
    color: #506860;
    height: 0px;
}

#pc_navbar .link
{
    background-color: #F8F8F8;
    padding: 10px 5px 10px 5px;
    border: solid 5px #D8BE9D;
    border-radius: 2px;
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 0px 2px #000000; 
    box-shadow: 0px 0px 0px 2px #000000;
}
#pc_navbar .link img
{
    width: 15px;
    height: auto;
    margin-top: -3px;
    margin-right: 2px;
}
.h2_img img
{
    width: 50px;
    margin-top: -5px;
    margin-right: 10px;
}
#img_comp, #img_real, #img_contact
{
    visibility: hidden;
}
#link_comp:hover img
{
    visibility: visible;
}
#link_real:hover img
{
    visibility: visible;
}
#link_contact:hover img
{
    visibility: visible;
}


#cv_download
{
    background-color: #F8F8F8;
    font-size: 1.2em;
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px 5px 10px 5px;
    border: solid 5px #D8BE9D;
    -webkit-box-shadow: 0px 0px 0px 2px #000000; 
    box-shadow: 0px 0px 0px 2px #000000;
}
#cv_download:hover
{
    border: solid 5px #000000;
    background-color: #D8BE9D;

    -webkit-box-shadow: 0px 0px 0px 2px #F8F8F8; 
    box-shadow: 0px 0px 0px 2px #F8F8F8;
}
.fa-file-download
{
    font-size: 1.5em;
}

/*******************************************MAIN**************************************************/

main
{
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}
/*******************************************ACCUEIL**************************************************/

#description
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;

    font-size: 1.1em;
    line-height: 150%;
}
#description img
{
    width: 15%;
}
#description div
{
    color: #E0D8E0;
    background-color: #285068;
    border: solid 5px #E0D8E0;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    position: relative;
    width: 70%;
}

#description div p::after
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: #C8A848;
    border-radius: 5px;
    z-index: -1;
}
#description div p::before
{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: #283030;
    z-index: -2;
}

h2
{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 10px #D8BE9D;
    text-shadow: 2px 2px #000000;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 0px 2px #000000; 
    box-shadow: 0px 0px 0px 2px #000000;
    color: white;
    font-size: 3em;
}

.comp, .projets
{
    color: #ffffff;
    /*border: #506860 solid 7px;*/
    font-size: 0.8em;
    margin: 10px;
    position: relative;
    width: 40%;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    opacity: 0.9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*******************************************MAIN COMP**************************************************/

.comp
{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
#comps
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
}
#comp_bulle
{
    position: relative;
    width: 100%;
    height: 200%;

    color: #E0D8E0;
    background-color: #285068;
    border: solid 5px #E0D8E0;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#comp_bulle img
{
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#comp_bulle::after
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: #C8A848;
    border-radius: 5px;
    z-index: -1;
}
#comp_bulle::before
{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: #283030;
    z-index: -2;
}
.progress_bar
{
    margin-top: 15px;
    width: 100%;
    display: flex;    
    justify-content: flex-end;
}
.progress_bar_text
{
    font-size: 0.7em;
    margin-top: 10px;
    margin-bottom: 30px;
}
.progress_bar p:first-child
{
    margin: 0;
    margin-top: 8px;
    width: 35%;
}
.progress_bar p:last-child
{
    margin: 0;
    margin-top: 8px;
    white-space:nowrap;
    margin-right: 5px;
}
.comp div
{
    width: 100%;
}
.avatar img
{
    height: 100%;
}
#comp_une, #comp_deux, #comp_trois
{
    width: 100%;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.myProgress
{
    width: 70%;
    height: 30px;
    background-color: #D8BE9D;
    margin-right: 15px;
}
  
.myBar
{
    width: 1%;
    height: 30px;
    background-color: #53736F;
}
.tab_button
{
    padding: 20px;
    margin: 20px;
    cursor: pointer;

    background-color: #506860;
    color: #D8BE9D;
}
.tab_button:hover
{
    background-color: #D8BE9D;
    color: #506860;
}
.click_simulate
{
    background-color: #D8BE9D;
    color: #506860;
}
#tabs
{
    display: flex;
    justify-content: space-evenly;
}
.chiffres_affiche
{
    display: none;
}
/*******************************************MAIN REAL**************************************************/

.projets
{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
    border: solid 8px #285068;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.projet_img
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.projet_img img
{
    width: 20%;
    margin: 0 20px 20px 20px;
    font-size: 3em;
}
.projet_img span
{
    font-size: 2em;
    background-color: #285068;
    padding: 10px;
}
#projet_1
{
    background-image: url("../img/Melisme_kids.PNG");
}
#projet_2
{
    background-image: url("../img/Made_in_vietnam.PNG");
}
#projet_3
{
    background-image: url("../img/blog.PNG");
}
#projet_4
{
    background-image: url("../img/reservia.PNG");
}
.projets:hover
{
    box-shadow: none;
}
.projet_text span
{
    color: #ffffff;
}
.projet_text
{
    position: absolute;
    top: 50%;
    width: 100%;
}
#section_comp
{
    margin-bottom: 340px;
}
.br
{
    display: none;
}
#section_comp article, #section_real article
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.h2_img
{
    background-color: #F8F8F8;
    color: #565750;
    text-shadow: 1px 1px #ABB7B3;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.div_titre_section
{
    width: 100%;
    display: flex;
}
.second_column
{
    margin-top: 90px;
}
.less_margin_first_column
{
    margin-top: 0;
}
.less_margin_second_column
{
    margin-top: 50px;
}
.pokeballs
{
    position: relative;
    z-index: 5;
    margin: 0;
    cursor: pointer;
}

.pokeballs + div
{
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.opacity_0
{
    opacity: 0;
}
.opacity_1
{
    opacity: 1;
    top: 30%;
}
.malette_1, .malette_2
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 20%;
}
#contact
{
    
    margin: 0 auto;
    margin-bottom: 100px;

    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#send_mess
{
    position: relative;
    height: 100%;

    text-align: center;
    width: 70%;
    padding: 20px;

    margin: 0 auto;
    color: #E0D8E0;
    background-color: #285068;
    border: solid 5px #E0D8E0;
    border-radius: 5px;
    
}
#send_mess::after
{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: #C8A848;
    border-radius: 5px;
    z-index: -3;
}
#send_mess::before
{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: #283030;
    z-index: -4;
}
#map iframe
{
    height: 100%;
    width: 100%;
}
#send_mess p
{
    font-size: 1.2em;
    line-height: 150%;
}
#send_mess form
{
    margin: 0 auto;
}
.champ label
{
    display: inline-block;
    width: 30% ;
    margin-top: auto;
    margin-bottom: auto;
}
.champ
{
    padding: 20px;
    display: flex;
    justify-content: center;
}
textarea
{
    width: 300px;
    height: 150px;
}
.champ input
{
    width: 300px;
}
#valid_form button
{
    padding: 20px;
    margin: 20px;
    cursor: pointer;

    background-color: #506860;
    color: #D8BE9D;
}
#valid_form button:hover
{
    background-color: #D8BE9D;
    color: #506860;
}

/*******************************************FOOTER**************************************************/

footer ul
{
    padding-bottom: 20px;
    padding-top: 25px;
    margin: 0;

    
    color: white;
    background-color: #82A2AD;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#copyright
{
    font-size: 0.8em;
    background-color: #285068;
}
@media screen and (max-width: 1500px)
{
    #comp_bulle
    {
        height: 250%;
    }
    #section_real
    {
        margin-top: 80px;
    }
    #comps
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 1254px)
{
    #comp_bulle img
    {
        display: none;
    }
    #description img
    {
        width: 30%;
    }
    
}
@media screen and (max-width: 1050px)
{
    #avatar_responsive
    {
        width: 50%;
    }
    #responsive_navbar
    {
        display: block !important;
        position:  relative !important;
        background-color: #285068;
        color: #E0D8E0 !important;
        
    }
    .navbar-brand, .nav-link
    {
        color: #E0D8E0 !important;
    }
    #pc_navbar
    {
        display: none;
    }
    #logo_and_name_responsive
    {
        display: block !important;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
        width: 100%;
    }
    #logo_and_name_responsive div
    {
        margin-right: auto;
        margin-left: auto;
    }
    #description img
    {
        display: none;
    }
    #description div
    {
        width: 100%;
        height: 100%;
    }
    h2
    {
        font-size: 2em;
    }
    .h2_img img
    {
        width: 25px;
        margin-bottom: 0px;
    }
    #h2_real
    {
        margin-top: 150px;
    }
    
}
@media screen and (max-width: 1024px)
{
    body
    {
        background-attachment:unset;
        background-image: url(../img/fondrepetitifpixel.png);
        background-size: contain;
        background-repeat: repeat;
        background-position: top center;
    }
}
@media screen and (max-width: 900px)
{
    
    #section_real article
    {
        flex-direction: column;
    }
    .end
    {
        display: none;
    }
    .projets
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .progress_bar p:first-child
    {
        width: 100%;
    }
    #comp_une, #comp_deux, #comp_trois
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    .progress_bar p:last-child
    {
        margin-right: 15px;
    }
    .champ
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .champ label
    {
        width: 50%;
    }
}
@media screen and (max-width: 700px)
{
    .progress_bar
    {
        flex-direction: column;
    }
    .chiffres
    {
        display: none;
    }
    .chiffres_affiche
    {
        display: block;
    }
    .tab_button
    {
        margin: 10px
    }
    #comp_bulle
    {
        height: 340%;
    }
    #h2_real
    {
        margin-top: 350px;
    }
    h2
    {
        font-size: 1.5em;
    }
    .champ input, .champ textarea
    {
        width: 100%;
    }
    #send_mess p
    {
        font-size: 0.9em;
    }
    footer
    {
        font-size: 0.8em;
    }
    .div_titre_section
    {
        position: relative;
        z-index: -2;
    }
}
@media screen and (max-width: 550px)
{
    
    main
    {
        margin-top: 0px;
    }
    #mon_portfolio_title
    {
        font-size: 1.2em;
    }
    #logo_and_name div, #logo_and_name_responsive div
    {
        width: 150px;
    }
    h2
    {
        font-size: 1em;
    }
    #header_name p
    {
        font-size: 0.6em;
    }
    #comp_bulle
    {
        height: 400%;
    }
    #comps
    {
        margin-right: 50px;
        margin-left: 30px;
    }
    #tabs
    {
        padding-left: 30px;
    }
    .comp
    {
        width: 100%;
    }
    .progress_bar_text
    {
        font-size: 0.6em;
    }
    #description_p
    {
        font-size: 0.8em;
    }
    #send_mess
    {
        width: 100%;
    }
    #h2_real
    {
        margin-top: 500px;
    }
    .malette_1, .malette_2
    {
        width: 35%;
    }
    #fleches
    {
        display: none;
    }
    footer
    {
        font-size: 0.6em;
        position: relative;
    }
    footer ul
    {
        flex-direction: column;
    }

}